
.Navbar__list{
    display: flex;
    justify-content: space-evenly;
    font-weight: 900;
    margin: 0;
    padding: 10px;
    list-style-type: none;

}
.Navbar__list-link{
    text-decoration: none;
    color: #EFEAD8;
}