.Overview {
  background-color:  #908575 ;
  color: #efead8;
  display: flex;
  flex-direction: row;
  
}
.Overview__text {

  margin-left: 10px;
  margin-right: 24px;
  padding-top: 25px;
}
#container {
  position: relative;
  top: 50%;
  left: 50%;
  margin-right: 24px;
  transform: translate(-50%, -50%);
}
.steam {
  position: absolute;
  height: 75px;
  width: 75px;
  border-radius: 50%;
  background-color: #fff;
  margin-top: -37.5px;
  margin-left: 37.5px;
  z-index: 0;
  opacity: 0;
}

#steam1 {
  -webkit-animation: steam1 4s ease-out infinite;
  animation: steam1 4s ease-out infinite;
}

#steam3 {
  -webkit-animation: steam1 4s ease-out 1s infinite;
  animation: steam1 4s ease-out 1s infinite;
}

@-webkit-keyframes steam1 {
  0% {
    transform: translateY(0) translateX(0) scale(0.25);
    opacity: 0.2;
  }
  100% {
    transform: translateY(-200px) translateX(-20px) scale(1);
    opacity: 0;
  }
}

@keyframes steam1 {
  0% {
    transform: translateY(0) translateX(0) scale(0.25);
    opacity: 0.2;
  }
  100% {
    transform: translateY(-200px) translateX(-20px) scale(1);
    opacity: 0;
  }
}

#steam2 {
  -webkit-animation: steam2 4s ease-out 0.5s infinite;
  animation: steam2 4s ease-out 0.5s infinite;
}

#steam4 {
  -webkit-animation: steam2 4s ease-out 1.5s infinite;
  animation: steam2 4s ease-out 1.5s infinite;
}

@-webkit-keyframes steam2 {
  0% {
    transform: translateY(0) translateX(0) scale(0.25);
    opacity: 0.2;
  }
  100% {
    transform: translateY(-200px) translateX(20px) scale(1);
    opacity: 0;
  }
}

@keyframes steam2 {
  0% {
    transform: translateY(0) translateX(0) scale(0.25);
    opacity: 0.2;
  }
  100% {
    transform: translateY(-200px) translateX(20px) scale(1);
    opacity: 0;
  }
}

#cup {
  z-index: 1;
}

#cup-body {
  position: absolute;
  height: 100px;
  width: 150px;
  border-radius: 0 0 150px 150px;
  background-color: #fff;
  margin: auto;
  display: inline-block;
  overflow: hidden;
  z-index: 1;
}

#cup-shade {
  position: relative;
  height: 180px;
  width: 150px;
  background-color: #f3f3f3;
  display: inline-block;
  margin-left: 21%;
  margin-top: -1.5px;
  transform: rotate(50deg);
  z-index: 1;
}

#cup-handle {
  position: relative;
  height: 37.5px;
  width: 40px;
  border-radius: 0 150px 150px 0;
  border: 7.5px solid #f9f9f9;
  margin-bottom: 47.5px;
  margin-left: 125px;
  display: inline-block;
  z-index: 0;
}

#saucer {
  position: absolute;
  height: 15px;
  width: 150px;
  border-radius: 0 0 100px 100px;
  background-color: #f9f9f9;
  margin-top: -16px;
  margin-left: 2.5px;
  z-index: 2;
}

#shadow {
  height: 5px;
  width: 150px;
  border-radius: 50%;
  margin-top: -2.5px;
  margin-left: 3px;
  background-color: #5f7161;
}
@media only screen and (max-width: 760px) {
   .Overview{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 90px;
    margin-right: 0;
   }
   
    }
